.GradientBG {
    padding: 16px 24px;
    /* position: relative; */
  }
  
  .GradientBG::after {
    position: absolute;
    content: "";
    border-radius: 20px;
    margin-left: 35.5%;
    margin-top: 195px;
    height: 27px;
    width: 27%;
    transform: scale(0.9) translateZ(0.1);
    filter: blur(20px);
    background-color: black;
    background: linear-gradient(to left, 
        #ff5778,
        #e4428d,
        #c42da8,
        #9e16c3,
        #6501de,
        #9e16c3,
        #c42da8,
        #e4428d,
        #dd5778
    ); 
    background-size: 200% 200%;
    animation: animateGlow 2s linear infinite;
  }
  
  @keyframes animateGlow {
    0% {
      background-position: 0% 50%;
    }
  
    100% {
      background-position: 200% 50%;
    }
  }
  
  
  