.AddNewTodo{
    width: 25%;
    position:absolute;
    margin-left: 37.5%;
    margin-top: 200px;
    border-radius: 20px;
    padding-top: 15px;
    padding-left: 10px;
    resize: none;
    outline: none;
    border-width: 3.5px;
    border-color: rgb(20,80,100);
    z-index: 1;
}

  